.custom-body {
    color: #e1e4e8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.custom-header {
    color: #ffffff;
    font-weight: bold;
    font-size: 3rem;
    animation: colorChange 3s ease-in-out infinite;
}

@keyframes colorChange {
    0% { color: #f951ff; }
    50% { color: #27f8ff; }
    100% { color: #2c96ff; }
}

@keyframes bounce {
    0% { transform: translateY(0); }
    30% { transform: translateY(-10px); }
    50% { transform: translateY(5px); }
    70% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}

.custom-footer{
    animation: bounce 1s ease-in-out;
}

.custom-divider {
    border-color: #58a6ff;
    border-width: 2px;
    border-style: solid;
    margin-top: 30px;
}

.custom-input {
    background-color: #2c3138;
    border: 1px solid #444c56;
    border-radius: 50px;
    color: #e1e4e8;
    font-size: 1.1rem;
    padding: 12px 15px;
    width: 100%;
    transition: border-color 0.3s ease-in-out;
}

.custom-input:focus {
    border-color: #58a6ff;
    outline: none;
}

.custom-button {
    background-color: #58a6ff; 
    color: white;
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.custom-button:hover {
    background-color: #0c67c9;
    transform: scale(1.08); 
}

.custom-button i {
    font-weight: bold;
}

.custom-button:hover i {
    color: #ffffff;
    transform: scale(1.1);
}

.custom-chatbox{
    max-height: 650px;
}

#messageDiv {
    margin-top: 0;
    padding-top: 0;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

#messageDiv::-webkit-scrollbar {
    display: none;
}